.board {
  background-image: url("backboard.jpg") ;
  background-position: center;
  /*background-size: 'cover';*/
  /*background-repeat: 'no-repeat';*/
  height: 100vh;
  width: 100vw;
} 

.bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%; 
}

.midbottom{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height: 36%;
}

.myplayedcard{
  background-color: brown;
  order:2;
  width:100%;
  display: flex;
  justify-content: space-evenly;
}

.myname{
  background-color: blueviolet;
  order: 4;
  width:15%;
  font-size: 2vh;
  text-align: center;
  color: white;
  padding-top: 3%;
}

.myavatar{
  background-image: url("https://ddragon.leagueoflegends.com/cdn/9.2.1/img/champion/Pantheon.png");
  background-repeat: 'no-repeat';
  background-size: cover;
  order: 6;
  width: 15%;

}

.mydeck{
  order:1;
  background-color:darkblue;
  border: solid 0.5vw goldenrod;
  color:goldenrod;
  font-weight: bold;
  width:15%;
  font-size: 3vh;
  text-align: center;

}

.myendturn{
  background-color: green;
  border: solid 0.5vh darkgreen;
  color:white;
  font-weight: bold;
  order:3;
  width:15%;
  font-size: 3vh;
  text-align: center;
}

.myhand{
  background-color: fuchsia;
  order:5;
  width:70%;
}
.space{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0px;
  padding: 12px;
}

.myhand:hover
{
  background-color: aqua;
  height: 200%;
  top:20px;
  text-align: center;
}
.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%; 
}

.midtop{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height: 36%;
  
}

.oppplayedcard{
  /*background-color: brown;*/
  order:2;
  width:70%;
  display: flex;
  justify-content: space-evenly;
}

.oppname{
  background-color: blueviolet;
  order: 4;
  width:15%;
  font-size: 2vh;
  text-align: center;
  color: white;
  padding-top: 3%;
}

.oppavatar{
  background-image: url("https://ddragon.leagueoflegends.com/cdn/9.2.1/img/champion/Pantheon.png");
  order: 6;
  width: 15%;
}

.oppdeck{
  background-color: red;
  order:1;
  width:15%;
}

.oppendturn{
  background-color: crimson;
  order:3;
  width:15%;
}

.opphand{
  background-color: fuchsia;
  order:5;
  width:70%;
}