.cardzone{
    margin-top: 5%;
    height: 70%;
    width:18%;
    border: solid 5px goldenrod;
    border-radius: 10px 10px;
}

.frontcard{
    border: 5px solid goldenrod;
}

.imgcard{
    height:50%;
    position: center;
    width:100%;
}
.namecard{
    height: 25%;
    background-color: darkslategrey;
    text-align: center;
    font-size: 3vm;
    font-style: normal;
    color: white;
}

.skillcard{
    height:25%;
    display: flex;
    flex-direction: row;
    text-align:center;
    border-radius: 10px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.atqcard{
    background-color: silver;
    width:50%;
}

.defcard{
    background-color: red;
    width:50%;
}
.bottomcard{
    display: flex;
    flex-direction: row; 
}

.backcard{

}